.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.App-header {
    background-color: pink;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    position: fixed;
    width: 100%;
}

.App-header button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.App-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}

section {
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
}